  <div>
    <h3 class="slab-font">Pick up from:</h3>
    <b>Name: </b><%= @user.name %><br>
    
    <%= render 'users/address' %>
    <% if @user.city.present? && @user.state.present? && @user.address.blank? %>
      <b>Location: </b><%= @offer.city_state %><br>
    <% end %>
  </div>
  