<%= render 'layouts/flash_message' %>
<%= render 'layouts/flash_error' %>

<h1 class="center slab-font">Welcome to Refood!</h1>
<h3 class="center slab-font sm-margin-bottom">Connecting extra food with hungry people</h3>
<%= image_tag "veggies.jpg", alt: "Fresh veggies", class: "center home-img" %>

