<%= render 'layouts/flash_message' %>
<%= render 'layouts/flash_error' %>

<h1 class="center slab-font">Welcome to Refood!</h1>
<h3 class="center slab-font">Connecting extra food with hungry people</h3>
<br></br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 center">
      <h4><a href="/signup"><b>I have extra food</b></a></h4>
    </div>
    <div class="col-md-6 center">
      <h4><a href="/signup"><b>I'm looking for food</b></a></h4>
    </div>
  </div>
</div>