<%= render 'layouts/flash_message' %>
<%= render 'layouts/flash_error' %>

<h1>Welcome to Refood!</h1>
<h2>Connecting extra food with hungry people</h2>
<p></p>
<div class="container">
  <div class="row">
    <div class="col-6">
      <a href="/signup">I have extra food</a>
    </div>
    <div class="col-6">
      <a href="/signup">I'm looking for food</a>
    </div>
  </div>
</div>