<%= render 'layouts/flash_message' %>
<%= render 'layouts/flash_error' %>

<h1 class="center slab-font">Welcome to Refood!</h1>
<h3 class="center slab-font lg-margin-bottom">Connecting extra food with hungry people</h3>
<h4 class="center sm-margin-bottom slab-font sm-margin-bottom"><b><%= link_to "Check out current food offers", current_offers_path %></b></h4>
<%= image_tag "veggies.jpg", alt: "Fresh veggies", class: "center home-img" %>

