<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <div class="alert alert-danger">
      <%= error %>
    </div>
  <% end %>
<% end %>

<h3><%= link_to "Create new food offer", new_offer_path %></h3>

<h3><%= link_to "Find food", offers_path %></h3>
