<% if @requests.present? %>
  <ul class="margin-bottom">
    <% @requests.each do |request| %>
      <li class="left-padding lg-margin-bottom">
        <span class="h5-size"><%= link_to request.offer.headline, offer_request_path(request.offer, request) %></span>
        <% if request.completed_requestor %>
          <span class="badge badge-warning badge-shift slab-font">New karma</span>
        <% end %>
        <% if request.offer.closed %>
          <span class="badge badge-info badge-shift slab-font">Closed</span>
        <% end %>
        <div class="small darker-grey-text">Requested <%= time_ago(request) %> ago</div>
        <% if request.offer.city %>
          <div class="sm-top-margin darker-grey-text-normal"><%= request.offer.city_state %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h5 class="slab-font ">No open requests</h5>
<% end %>
