<%= render 'layouts/flash_message' %>

<h1>Completed requests</h1>

<% if @requests.present? %>
  <ul class="list-group">
    <% @requests.each do |request| %>
      <li class="list-group-item lt-grey-box">
        <h4><%= link_to request.offer.headline, offer_request_path(request.offer, request) %></h4>
        <div class="small">Requested <%= format_date(request.created_at.localtime) %></div>
      </li>
    <% end %>
  </ul>

<% else %>
  <h5 class="left-padding">No completed requests</h5>
<% end %>

<br>
<%= link_to "Back to index", '/index' %>
