<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<h1 class="slab-font">Edit Request</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>

<br>

<%= render 'form' %>
