<%= render 'layouts/flash_error' %>

<h1>Edit Request</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>
<h6><b>Pick up expiration: </b><%= format_date(@offer.expiration) %></h6>

<br>

<%= render 'form' %>
