  <div>
    <h3>Pick up from:</h3>
    <b>Name: </b><%= @offer.user.name %><br>
    
    <%= render 'address' %>
    <% if @offer.user.city.present? && @offer.user.state.present? && @offer.user.address.blank? %>
      <b>City: </b><%= @offer.user.city %>, <%= @offer.user.state %><br>
    <% end %>
  </div>
  