<% if @offers.present? %>
  <ul class="list-group">
  <% @offers.each do |offer| %>
    <li class="list-group-item"><%= link_to offer.headline, offer_path(offer) %><br>
    <span class="small grey-text">posted <%= time_ago(offer) %> ago</span></li>
  <% end %>
  </ul>
<% else %>
  <h5>No open offers</h5>
<% end %>
