<% if @offers.present? %>
  <br>
  <h3>My offers</h3>

  <ul class="list-group">
  <% @offers.each do |offer| %>
    <li class="list-group-item"><%= link_to offer.headline, offer_path(offer) %><br>
    <span class="small grey-text">posted <%= time_ago(offer) %> ago</span></li>
  <% end %>
  </ul>
<% end %>
