<% if @offers.present? %>
  <ul class="list-group">
  <% @offers.each do |offer| %>
    <li class="list-group-item">
      <span class="h5-size"><%= link_to offer.headline, offer_path(offer) %></span>
      <% if offer.requests.any? { |r| r.completed_giver && !r.completed_requestor } %>
        <span class="badge badge-warning badge-shift slab-font">New karma</span>
      <% end %>
      <h6><%= link_to "#{offer.requests.select { |r| !r.completed_requestor }.count} open requests", offer_requests_path(offer) %></h6>
      <div class="small grey-text">posted <%= time_ago(offer) %> ago</div>
    </li>
  <% end %>
  </ul>
<% else %>
  <h5>No open offers</h5>
<% end %>
