<% if @requests.present? %>
  <br>
  <h3>My requests</h3>
  
  <ul class="list-group">
  <% @requests.each do |request| %>
    <li class="list-group-item">
      <%= link_to request.offer.headline, offer_request_path(request.offer, request) %><br>
      <%= request.user.city %>, <%= request.user.state %><br>
      <span class="small grey-text">requested <%= time_ago(request) %> ago</span></li>
  <% end %>
  </ul>
<% end %>
