<% if @requests.present? %>
  <h3>My requests</h3>
  <ul>
  <% @requests.each do |request| %>
    <li><%= link_to request.offer.title, offer_request_path(request.offer, request) %></li>
  <% end %>
  </ul>
<% end %>
