<%= render 'offers/headline' %>

<% if offer.description %>
<br>
  <h6><b>Description: </b><%= offer.description %></h6>
<% end %>
<% if offer.city %>
  <h6><b>Location: </b><%= offer.city_state %></h6>
<% end %>
<% if offer.availability.present? %>
  <h6><b>Pickup availability: </b><%= offer.availability %></h6>
<% end %>
<br>
