<h1 class="slab-font sm-margin-bottom">Open offers</h1>

<% if @offers.present? %>
   <ul id="offers-list" class="margin-bottom"></ul>

<% else %>
  <br>
  <h3 class="slab-font">No open offers. Check back soon!</h3>
<% end %>

<br>
<h5 class="slab-font"><%= link_to 'Open offers by location', offers_by_location_path %></h5>
<%= render 'welcome/link_to_home' %>
