<h1 class="slab-font sm-margin-bottom">Current offers</h1>

<% if @offers.present? %>
  <ul class="list-group">
  <% @offers.each do |offer| %>
    <li class="list-group-item">
      <div><%= link_to offer.headline, offer %></div>
      <% if offer.user.city %>
        <div><%= offer.user.city %>, <%= offer.user.state %></div>
      <% else %>
        <div>Ask for location info</div>
      <% end %>
      <div class="small grey-text">posted <%= time_ago(offer) %> ago</div>
    </li>
  <% end %>

<% else %>
  <br>
  <h3>Sorry, no current offers. Check back soon!</h3>
<% end %>
