<% if @offers.present? %>
  <h1>Current offers</h1>

  <ul class="list-group">
  <% @offers.each do |offer| %>
    <li class="list-group-item">
      <%= link_to offer.headline, offer %> posted <%= time_ago(offer) %> ago
    </li>
  <% end %>

<% else %>
  <h1>Sorry, no current offers</h1>
<% end %>
