class Offers {
  constructor() {
    this.offers = [];
    this.adapter = new OffersAdapter();

    this.fetchAndLoadOffers();
  }

  fetchAndLoadOffers() {
    this.adapter.getOffers()
      .then(offers => {
        offers.forEach(offer => {
          this.offers.push(new Offer(offer));
        });
      })
      .then(() => this.render());
  }

  render() {
    const offersList = document.querySelector('#offers-list');
    let html = this.offers.map(offer => {
      console.log(offer)
      return `
        <li class="list-obj left-padding">
          <h5><a href="offers/${offer.id}">${offer.headline}</a></h5>
          <div class="small grey-text">Posted a while ago</div>
          <div>${offer.city}, ${offer.state}</div>
        </li>`;
    }).join('');

  // console.log('html', html)
  offersList.innerHTML = html
  }
}

const offers = new Offers();

