class Offer {
  constructor(offerJSON) {
    this.id = offerJSON.id;
    this.giver_id = offerJSON.giver_id;
    this.headline = offerJSON.headline;
    this.city = offerJSON.city;
    this.state = offerJSON.state;
    this.description = offerJSON.description;
    this.availability = offerJSON.availability;
    this.closed = offerJSON.closed;
    this.deleted = offerJSON.deleted;
    this.created_at = offerJSON.created_at;

    this.initBindingsAndEventListeners();
  }

  initBindingsAndEventListeners() {
    $('#show-request-form').on('click', (e) => {
      e.preventDefault();
      $('#place-for-form').html(this.renderForm());
    })
  }

  renderForm() {
    return `
      <form>
        <label for="request-message">
        <input type="text" id="request-message">
        <input type="submit">
      </form>
    `
  }
}