/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "tempusdominus-bootstrap-4.css";
@import "bootstrap";

.page-content {
   margin: 35px 100px;
   color: #343a41;
}

.container {
   display: flex;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.col-6 {
  align-content: center;
}

.nav-item-left {
  margin: 7px 32px;
}

.nav-item-right {
  margin: 0 35px 0 0;
}

.grey-text {
  color: #b4b4b4;
  font-family: 'Pontano Sans', sans-serif;
  margin: -2px 0 0 0;
  font-size: 75%;

}
.green-text {
  color: #38a82f;
}

.left-padding {
  padding: 0.5em 0 0 1em;
}

.btn-left-margin {
  margin: 0 0 0 5px;
}

.lt-grey-box {
  background-color: rgb(230, 230, 230);
  padding: 20px 27px;
  box-shadow: -1px 2px 12px -3px rgba(0,0,0,0.42);
  border-radius: 16px;
  border: 1px darkslategrey;

}

.lt-green-box {
  background-color: #38a82f4d;
  padding: 20px 27px;
}

.center {
  text-align: center;
}

.margin-bottom {
  margin: 0 0 2rem 0;
}

// body {
//   font-family: 'Open Sans', sans-serif;
// }

.slab-font {
  font-family: 'Pontano Sans', sans-serif;
}

.sm-margin-bottom {
  margin: 0 0 1.2rem 0;
}

.home-img {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.list-spacing {
  margin: 0 0 20px 0;
}

.h5-size {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}

.h3-size {
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 500;
}

.badge-shift {
  position: relative;
  bottom: 3px;
  left: 3px;
}

.badge {
  font-family: 'Zilla Slab', cursive;
}
