<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <% flash[:error].each do |error| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= error %><br>
    <% end %>
  </div>
<% end %>
